html {
    font-size: 0.75rem;
}

body {
  width: device-width;
  background-color: #261275;
  color: silver;
  font-family: Amarante;
}

hr {
  width: 50%;
  margin: 3% auto;
  color: silver;
}

header {}

a {
  width: 100%;
  text-decoration: none;
  color: silver;
}

a:hover {
  -webkit-animation: linkFade 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: linkFade 1.5s;
  /* Firefox < 16 */
  -ms-animation: linkFade 1.5s;
  /* Internet Explorer */
  -o-animation: linkFade 1.5s;
  /* Opera < 12.1 */
  animation: linkFade 1.5s;
  animation-iteration-count: infinite;
}

p {
  
}
.imgLogo {
  width: 65%;
}
.imgHex {
  margin: 2%;
}


.imgBlog {
  width: 50%;
  margin: 2%;
}

.inlineLink {
  text-decoration: underline;
  color: lightblue;
}

.btnLarge {
  width: 30%;
  border: silver 2px solid;
  font-family: Amarante;
  background-color: #261275;
  color: silver;
  border-radius: 50px;
  margin: 1%;
  outline: none;
}

.btnSmall {
  width: 40%;
  border: silver 2px solid;
  font-family: Amarante;
  background-color: #261275;
  color: silver;
  border-radius: 50px;
  margin: 1%;
  outline: none;
}

.panel {
  border: silver 2px solid;
  border-radius: 50px;
  color: silver;
  background-color: black;
  margin: 1%;
  padding: 2%;
  text-align: center;
  box-sizing: border-box;
}

.panelFixed {
  position: fixed;
}

.panelBlog {
  padding: 3%;
  text-align: left;
}

.headerBlog {
  text-align: center;
}

.projectImage {
  border: silver 2px solid;
  border-radius: 50px;
  position: relative;
  width: 100%;
  height: 200px;
}

.projectImageLarge {
  width: 100%;
  margin: 2%;
  position: relative;
}

.projectImageSmall {
  width: 100%;
  height: 28%;
  margin: 2%;
  position: relative;
}

.formField {
  background-color: #261275;
  border-radius: 50px;
  border: silver 2px solid;
  color: silver;
  padding: 2%;
  text-align: center;
}

.projectLabel {
  color: white;
  width: 90%;
  text-align: center;
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 5%;
  padding: 2%;
  word-wrap: break-word;
  visibility: hidden;
  text-shadow: 3px 0px black;
  font-size: 1.4rem;
}
.projectLabelBackup {
  color: white;
  width: 90%;
  height: 50%;
  text-align: center;
  position: absolute;
  z-index: 5;
  top: 0%;
  padding: 2%;
  word-wrap: break-word;
  visibility: hidden;
  text-shadow: 3px 0px black;
}


.fadeIn {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  0% {
     opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
     opacity: 1;
  }
}



/* Internet Explorer */

@-ms-keyframes fadein {
  0% {
     opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
     opacity: 1;
  }
}





/*Controls hover on links*/

@keyframes linkFade {
  0% {
     opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
     opacity: 1;
  }
}



/* Firefox < 16 */

@-moz-keyframes linkFade {
  0% {
     opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
     opacity: 1;
  }
}



/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes linkFade {
  0% {
     opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
     opacity: 1;
  }
}



/* Internet Explorer */

@-ms-keyframes linkFade {
  0% {
     opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
     opacity: 1;
  }
}


/* 
Use a media query to add a breakpoint at 800px:
@media (max-width:960px) {
  body p .projectImage .projectImageLarge .projectImageSmall .panel .wrapper .headerWrapper .footerWrapper .btnWrapper {
    width:100%; The width is 100%, when the viewport is 800px or smaller
    font-size: 20px;
  }
}
Use a media query to add a breakpoint at 800px:
@media (max-width:480px) {
  body p .projectImage .projectImageLarge .projectImageSmall .panel .wrapper .headerWrapper .footerWrapper .btnWrapper {
    width:80%; The width is 100%, when the viewport is 800px or smaller
    font-size: 15px;
  }
}
Use a media query to add a breakpoint at 800px:
@media (max-width:240px) {
  body p .projectImage .projectImageLarge .projectImageSmall .panel .wrapper .headerWrapper .footerWrapper .btnWrapper {
    width:50%; The width is 100%, when the viewport is 800px or smaller
    font-size: 8px;
  }
} */